<footer fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="footer">
  <div fxFlex="33%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    
      <h3 class="primary-text">A propos</h3>
    <div fxLayout="column" fxLayoutAlign="start start">
      <p>Politique de confidentialité</p>
      <p>Conditions d'utilisation</p>
      <p>Politique de cookies</p>
    </div>
  </div>
  <div fxFlex="33%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h3 class="primary-text">Navigation</h3>
    <div fxLayout="column" fxLayoutAlign="start start">
      <p>Commander</p>
      <p>Réserver</p>
      <p>Panier</p>
    </div>
  </div>
  <div fxFlex="33%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h3 class="primary-text">Réseaux</h3>
    <div fxLayout="column" fxLayoutAlign="start start">
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
    </div>
  </div>
</footer>