mat-toolbar {
  background-color: transparent;
}

.side-menu {
  position: fixed;
  top: 100px;
  width: 100px;
  z-index: 10;
  border-radius: 10px;
}

.card {
  background-color: #0d1115;
  border-radius: 10px;
  width: 175px;
  color: white;
  border: 1px solid;
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  margin-left: calc(13% + 20px);
  margin-right: calc(27% + 20px);
}

.container {
  position: relative;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.panier {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 250px;
  z-index: 10;
  box-shadow: 5px 10px 10px 0px black;
}