
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$zenwok-text-color: white;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zenwok-primary: mat.define-palette(mat.$orange-palette, 600);
$zenwok-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zenwok-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zenwok-theme: mat.define-dark-theme((
  color: (
    primary: $zenwok-primary,
    accent: $zenwok-accent,
    warn: $zenwok-warn,
  ),
));

$primary-color: map-get(map-get($zenwok-theme, primary), 500);

.primary-text {
  color: $primary-color;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zenwok-theme);

