html, body { 
    height: 100%;
    background-color: #0e1317;
    font-size: 12px;
    color: white;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-raised-button:not(:disabled) {
    color: white!important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: white!important;
}

h4{
    font-size: 12px;
}

.mdc-card__actions{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 12px!important;
    min-height: 40px!important;
}